/*red: #E77271*/
/*orange #FFB840*/
/*yellow #DCE96D*/
/*green #7FC881*/
@import url(https://fonts.googleapis.com/css?family=Poppins);

html {
    font-family: 'Poppins', sans-serif;
}

.red-text-b {
    padding: 3px;
    background-color: #E77271;
    color: black;
}

.orange-text-b {
    padding: 3px;
    background-color: #FFB840;
    color: black;
}

.lime-text-b {
    padding: 3px;
    background-color: #DCE96D;
    color: black;
}

.green-text-b {
    padding: 3px;
    background-color: #7FC881;
    color: black;
}

.my-table {
    margin-bottom: 1%;
}

.my-table2 {
    margin-bottom: 1%;
    font-size: 16px;
    cellspacing: "0";
    cellpadding: "0";
}

.left-margin {
    margin-left: 3px;
}

/*Examples*/
.example {
    min-height: 80px;
}

.duo {
    margin-top: 5%;
}

.about {
    margin-right: 30%;
    margin-bottom: 100px;
}

.academic-box {
    margin-top: 5%;
}

.push-below {
    margin-bottom: 1%;
}

.push-above {
    margin-top: 1%;
}

.push-above-2 {
    margin-top: 2%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p, a {
    font-size: 16px;
}

p {
    line-height: 180%;
}

a:hover {
    text-decoration: none;
    color: #333;
}

/*For top of table*/
.a-top {
    font-size: 1.64rem;
}

.bao {
    margin-left: 50px;
}

/*Overwrite the modal*/
.modal > .modal-content {
    padding-bottom: 0;
}
