<template name="aboutEnglish">
    <div class="container">
        <div class="about">
		
		  <h3>Academic wordlist – bokmål</h3>
            <p>Academic wordlist – Bokmål (AKA-list) is a list containing 750 words.
The list can be downloaded at <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic license.</a> <br />
			<br/>
			<a href="http://www.tekstlab.uio.no/aka_download/aka-download.txt">Download the list here.</a>	</p>
			<br/>

            <h4>Academic words</h4>

            <p>Academic words are words that are used more in higher education and scientific texts than in everyday language, but which at the same time are more general than the specific terminology of individual subjects. <br/>
			
			Academic words are those words that you need to know independently of genre if you want to take full advantage of teaching and textbooks above school level, and to write academic texts. <br/>
			
			The list we have developed and offer here should therefore be studied by students who have Norwegian as a second language as well as students who have a non-academic background.<br/>
			
			Teachers and authors of text books for higher education will also benefit from studying the list. 
			
			</p>

									<br/>
			<h4>Method</h4>
			
			<h5>a) An academic corpus</h5>

            <p>In order to find the academic words in a language, a material consisting of academic texts is a necessary starting point.  What constitutes “academic” may be a question of definition. Some think that the texts ought to have been published in specialised journals and written by professors, while others think that any non-fiction is good enough. For our purpose we have decided to include all scientific theses and articles that can be found in the central digital publications archiving system at the University of Oslo,  <a href="https://www.duo.uio.no/">DUO</a> The authors are anything from MA students to professors.  </p>

            <p>By using language technological methods we developed an academic corpus; we removed texts that were not written in Norwegian Bokmål (the variety used in this list), and we made sure we got texts from all the faculties. Here our academic corpus is superior to many others that are the basis for academic word lists in other languages. The reason is that it is often difficult to find academic texts in a local language in subjects such as medicine and natural sciences. (These subjects often publish in English only.) </p>

            <p>The DUO Academic Norwegian Bokmål corpus contains 100 millioner words: </p>
		<p>	
			
	        <table class="bordered highlight my-table2">
            <thead>
            <tr>
                <th> <b>Faculty</b></th>
                <th> <b>Departments</b></th>
                <th> <b>Texts</b></th>
                <th> <b>Words</b></th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Faculty of Humanities</td>
                    <td>7</td>
                    <td>1236</td>
                    <td>44 706 060</td>
                </tr>
				
				 <tr>
    <td>Faculty of Educational Sciences </td>
    <td>3</td>
    <td>582 </td>
    <td>16 921 823 </td>
  </tr>
  <tr>
    <td>Faculty of Medicine</td>
    <td>6 </td>
    <td>579</td>
    <td>10 192 043</td>
  </tr>
  <tr>
    <td>Faculty of Social Sciences (Economics, Sociology, Political Science)</td>
    <td>6 </td>
    <td>542</td>
    <td>13 908 454</td>
  </tr>
  <tr>
    <td>Faculty of Mathematics and Natural Sciences</td>
    <td>9</td>
    <td>265</td>
    <td>6 340 030</td>
  </tr>
  <tr>
    <td>Faculty of Theology</td>
    <td>4</td>
    <td>114</td>
    <td>3 545 930 </td>
  </tr>
  <tr>
    <td>Faculty of Law</td>
    <td>4</td>
    <td>111 </td>
    <td>4 660 631</td>
  </tr>
  <tr>
    <td>Faculty of Dentistry</td>
    <td>1</td>
    <td>51</td>
    <td>338 068</td>
  </tr>
  <tr>
    <td>Sum</td>
    <td>40</td>
    <td>3480</td>
    <td>100 613 039</td>
  </tr>
				
				
				
            </tbody>
        </table>		
<br />
			</p>

			<h5>b) Finding the most academic words in the corpus</h5>

            <p>Once the academic corpus is collected, a suitable method must be found to identify the most central academic vocabulary, i.e.:
			
			<ul>
  <li>- exclude highly frequent words that can also be found in non-academic texts</li>
  <li>- exclude highly frequent words that can only be found in some of the subject genres</li>
</ul>
	Very briefly described, all the methods share the aim of finding the most frequent words in the academic corpus, but at the same time making sure that the words have a best possible coverage in all the genres and texts. The very most frequent words must be excluded, since they will be the general words. In order to obtain this, stop lists of general high-frequency words or calculations on a general corpus are used. The overall method must be able to exclude the general words, like “or”, “she” and “daily”, and the subject-specific words, like “photo synthesis”,  “aorta” and “accusative”. 				
			</p>
			
			<h5>c) Evaluation</h5>

            <p>We have tried out several methods, and concluded that the best results were obtained by using the method developed by Gardner & Davies. </p>

            <p>In order to evaluate the methods and the lists, we calculated the coverage in two different corpora (one based on the literature of the <a href="http://www.hf.uio.no/iln/tjenester/kunnskap/samlinger/bokmal/veiledningkorpus/">Leksikografisk Bokmålskorpus (LBK)</a>, and one on the small <a href="http://kiap.uib.no/KIAPCorpus.htm">KIAP</a> corpus from the University of Bergen with academic texts from three areas). We also compared the final AKA list with a list of 750 arbitrarily selected general vocabulary words. The general word list had a coverage of as much as 67,69 % in the literature test corpus and only 46,6 % in the small academic corpus. The coverage for the 750 words of the AKA list was just 1,3 % in the LBK corpus, but 8,1 % in KIAP. This shows that the AKA list is more academic, and that the method works well. </p>

                <p>These numbers should be seen in the perspective of the expected number of word types in a given text. Nation (2001) shows that even academic texts contain as much as 80 % general, high-frequency words, up to 9 % academic words, and 5 % subject-specific words. </p>
				

<br/>	  
				
				<h4>Scandinavian cooperation</h4>

            <p>The research network <a href="http://www.hf.uio.no/iln/english/research/projects/language-use-in-nordic-academic-settings/index.html">LUNAS – Language Use in Nordic Academic Settings</a> - was established in 2013, with funding from NORDPLUS Nordiske språkprogrammet for the period 2013 through 2017.  <a href="http://cip.ku.dk/english/research/network/lunas/">Read about the network here. </a> The participating institutions are:
			
			<ul type="disc">
  <li><a href="http://svenska.gu.se/english">- Department of Swedish, University of Gothenburg, Sweden</a></li>
  <li><a href="http://www.hf.uio.no/iln/english/about/organization/text-laboratory/">- The Text Laboratory and Department of Linguistics and Scandinavian Studies, University of Oslo, Norway</a></li>
  <li><a href="http://inss.ku.dk/english/">- The Department of Nordic Studies and Linguistics, University of Copenhagen, Denmark</a></li>
  <li><a href="http://engerom.ku.dk/english/">- Department of English, Germanic and Romance Studies, University of Copenhagen, Denmark</a></li>
  <li><a href="http://cip.ku.dk/english/">- Centre for Internationalisation and Parallel Language Use, University of Copenhagen, Denmark</a></li>
  <li><a href="http://cst.ku.dk/english/">- Centre for Language Technology, University of Copenhagen, Denmark</a></li>
  <li><a href="http://dsn.dk/om-os/about-the-danish-language-council">- The Danish Language Council, Denmark</a></li>
</ul>

The Swedish participants have also published an academic word list, <a href="http://spraakbanken.gu.se/ao/index.html">read more here</a>.
</p>
			<br/>

<h4>People</h4>

<p>The development of the word list results from work in the Norwegian part of LUNAS, lead by Professor <a href="http://www.hf.uio.no/multiling/english/people/core-group/jannebj/index.html">Janne Bondi Johannessen </a> with Professor <a href="http://www.hf.uio.no/iln/english/people/aca/fjeld/index.html">Ruth Vatvedt Fjeld</a>, Senior engineer <a href="http://www.hf.uio.no/iln/english/people/adm/kristiha/index.html">Kristin Hagen</a> and Research Assistant  <a href="http://www.hf.uio.no/iln/english/?vrtx=person-view&uid=arashsa">Arash Saidi</a>. The UiO University Library should also be mentioned, for having given us access to the texts from DUO.   
</p>
<br/>
<h4>Funding and further work</h4>

<p>The project has not been externally funded. The Department of Linguistics and Scandinavian Studies and the Text Laboratory, have supported financially the five man months of the research assistant. The rest has been done as part of the regular work of the persons involved. This lack of funding is the reason for ending up with an academic word list for only one (Bokmål) of the two Norwegian standards. We hope to get some funding to be able to apply the same method for Nynorsk academic words.  </p>

<p>We also plan to connect the Norwegian and the Swedish academic lists in order to better be able to study similarities and differences. A common list could furthermore be very valuable for Norwegian students in Sweden and Swedish students in Norway. The Danish group in LUNAS is presently working on a Danish academic word list, and we hope to include this in a common Scandinavian list in the future. </p>

<p>Finally we plan to develop lists of academic phrases (two- and three-word expressions) with similar methods to the one we have used in the present AKA list. This work will also be done in cooperation with the other LUNAS participants.	</p>
<br/>
<h4>References</h4>
  <p>Carlund, Carina, Jansson, Håkan, Johansson Kokkinakis,  Sofie, Prentice, Julia &amp; Judy Ribeck (2012). An academic word list for  Swedish - a support for language learners in higher education In: <i>Proceedings of the SLTC 2012 workshop on NLP  for CALL</i>, Lund, 25th October, 2012.</p>
  <p>Coxhead, A. (2000): A new academic word list. I: <i>TESOL Quarterly</i>, 34:2, 213–238.</p>
  <p>Coxhead, A. (2011): The academic word list 10 years  on: Research and teaching implications. <i>TESOL  Quarterly</i>, 45:2, 355–362.</p>
  <p>Gardner, D. &amp; M. Davies (2013): A New Academic  Vocabulary List. In: <i>Applied Linguistics  4</i>.</p>
  <p>Nation, Ian SP. (2001) Learning vocabulary in another  language. Ernst Klett Sprachen.</p>

		
		
		
		
		
		
		
        </div>
    </div>
</template>