<template name="about">
    <div class="container">
        <div class="about">
            <h3>Akademisk språkbruk i Norden</h3>
            <p>LUNAS-prosjektet (Language Use in Nordic Academic Settings) er eit nordisk nettverk støtta av Nordplus Nordiske Sprog-programmet. Prosjektet skal arbeida med akademisk språk og utvikle akademiske korpus og ord- og fraselister for dansk, norsk og svensk.</p>

            <h3>Om prosjektet</h3>

            <p>Det skandinaviske forskarnettverket LUNAS blei etablert i 2013 med føremål å laga ei felles skandinavisk ramme kring komparative forskingsprosjekt som gjeld akademisk språkbruk på svensk, dansk og norsk. LUNAS-nettverket er ein plattform for å koordinera dei nasjonale prosjekta, og intensjonen er å forska i korpus over akademiske tekstar og ord- og fraselister på dei tre skandinaviske språka.</p>

            <p>Planen er å utvikla fritt tilgjengelege, søkbare tekstdatabasar med søkjefunksjonalitet som gjer det mogleg å søkja på tvers av dei nemnde språka. Databasane skal brukast i akademisk utdanning i dei tre landa, og målet er å gje studentar ein reiskap til å kunna forstå det sentrale ordforrådet i akademia.</p>

            <p>Intensjonen er at ei slik ordliste skal dekkja den delen av det akademiske ordforrådet som er felles for alle universitetsfag, eller i det minste for mange av faga. Lista skal altså ikkje omfatta fagspesifikk terminologi, og ho skal heller ikkje dekkja allmennspråket (eller allmenne tydingar av ord som har fått ei spesialtyding i akademisk tekstproduksjon).</p>

            <p>Tiltaket vil støtta opp om bruk av norsk språk som forskings-, undervisnings- og studiespråk på alle nivå i utdanningssystemet.  Tilgjenge til parallelle akademiske ord- og fraselister på dei skandinaviske språka vil dessutan bidra til å styrka alle dei nordiske språka i ulike akademiske samanhengar, og demma opp for bruk av engelsk som akademisk lingva franca også mellom studentar og forskarar frå dei nordiske landa.</p>

            <p>LUNAS-nettverket fekk i 2013 midlar frå NORDPLUS Nordiske språk-programmet for nettverkssamarbeid i perioden 2013 tom 2017.</p>

            <p><a href="http://cip.ku.dk/forskning/netvaerk/lunas/" target="_blank">Les om nettverket</a> på sidene til Center for Internationalisering og Parallelsproglighed (CIP) ved Københavns Universitet.</p>

            <p>Den norske delen av prosjektet er førebels ikkje fullfinansiert, men har starta opp i det små ved hjelp av ei lita løyving frå forskningskomiteen ved ILN og med eigenfinansiering. Målet er å laga ein første versjon av ei akademisk ordliste for bokmål og nynorsk ved hjelp av tekster som allereie er samla inn i andre prosjekt.</p>

            <h3>Arbeid i nabolanda</h3>

            <p>Dei svenske nettverksdeltakarane frå Göteborgs Universitet er komne lengst i arbeidet med akademiske korpus og ordlister, sjå:</p>

                <p><a href="http://spraakbanken.gu.se/ao/index.html" target="_blank">En svensk akademisk ordlista</a></p>
                <p><a href="http://spraakbanken.gu.se/swe/resurser/corpus" target="_blank">Korpus med akademiska texter</a></p>

            <p>Dei danske kollegaene er komne mykje kortare, og søkjer i år om midlar frå det danske Velux-fondet til å starte  arbeidet med oppbygginga av ei dansk akademisk ordliste.</p>
        </div>
    </div>
</template>