<template name="about">
    <div class="container">
        <div class="about">
            <h3>Akademisk ordliste – bokmål</h3>
            <p>Akademisk ordliste – bokmål (AKA-liste) er en liste på 750 ord.<br />
			Lista kan lasts ned på <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic license.</a> <br />
			<br/>
			<a href="http://www.tekstlab.uio.no/aka_download/aka-download.txt">Last ned AKA-lista her.</a>	</p>
			<br/>

            <h4>Akademiske ord</h4>

            <p>Akademiske ord er ord som brukes mer i høyere utdanning og i vitenskapelige tekster enn i dagligspråk, men som likevel er mer generelle enn fagtermer innen de enkelte fag. Akademiske ord er de ordene man trenger å kunne uansett sjanger dersom man skal ha fullt utbytte av undervisning og lærebøker over videregående nivå og kanskje selv skal skrive oppgaver og andre akademiske tekster. Den lista vi har utarbeidet, bør derfor studeres av studenter med norsk som andrespråk og studenter som har en ikke-akademisk bakgrunn.</p>

            <p>Lærere og lærebokforfattere for høyere utdanning bør også ha et aktivt forhold til det akademiske vokabularet. 

						</p>
									<br/>
			<h4>Metode</h4>
			
			<h5>a) Akademisk korpus</h5>

            <p>For å finne fram til de akademiske ordene i et språk, trengs det et materiale av akademiske tekster. Det kan være litt ulike definisjoner av hva man mener med “akademisk”. Noen mener at tekstene bør være utgitt i fagtidsskrifter og skrevet av professorer, mens andre kan mene at sakprosa er nok. Vi har valgt å inkludere alle slags vitenskapelige avhandlinger og artikler som er lagret på Universitetet i Oslos sentrale arkivsystem <a href="https://www.duo.uio.no/">DUO</a> (Digitale utgivelser ved UiO). Her er forfatterne alt fra MA-studenter til professorer.</p>

            <p>Ved å bruke språkteknologiske metoder utviklet vi et akademisk korpus ved å fjerne tekster som ikke var skrevet på norsk bokmål, og vi passet på at vi fikk med tekster fra alle fakultetene. Her skiller vårt materiale seg positivt ut i forhold til andre som har lagd akademiske ordlister fra akademiske korpus fordi de ofte har hatt svært mye mindre utgangsmateriale og har hatt problemer med å finne tekster på andre språk enn engelsk fra medisinske og naturvitenskapelige fag. </p>

            <p>DUO-korpuset er på 100 millioner ord og fordeler seg slik:</p>
		<p>	
			
	        <table class="bordered highlight my-table2">
            <thead>
            <tr>
                <th> <b>Fakultet</b></th>
                <th> <b>Institutter</b></th>
                <th> <b>Tekster</b></th>
                <th> <b>Ord</b></th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Humanistisk fakultet</td>
                    <td>7</td>
                    <td>1236</td>
                    <td>44 706 060</td>
                </tr>
				
				 <tr>
    <td>Undervisningsvitenskapelig fakultet </td>
    <td>3</td>
    <td>582 </td>
    <td>16 921 823 </td>
  </tr>
  <tr>
    <td>Medisinsk fakultet</td>
    <td>6 </td>
    <td>579</td>
    <td>10 192 043</td>
  </tr>
  <tr>
    <td>Samfunnsvitenskapelig fakultet</td>
    <td>6 </td>
    <td>542</td>
    <td>13 908 454</td>
  </tr>
  <tr>
    <td>Matematisk-naturvitenskapelig fakultet</td>
    <td>9</td>
    <td>265</td>
    <td>6 340 030</td>
  </tr>
  <tr>
    <td>Teologisk fakultet</td>
    <td>4</td>
    <td>114</td>
    <td>3 545 930 </td>
  </tr>
  <tr>
    <td>Juridisk fakultet</td>
    <td>4</td>
    <td>111 </td>
    <td>4 660 631</td>
  </tr>
  <tr>
    <td>Odontologisk fakultet</td>
    <td>1</td>
    <td>51</td>
    <td>338 068</td>
  </tr>
  <tr>
    <td>Sum</td>
    <td>40</td>
    <td>3480</td>
    <td>100 613 039</td>
  </tr>
				
				
				
            </tbody>
        </table>		
<br />
			</p>

			<h5>b) Å finne de akademiske ordene i korpuset</h5>

            <p>Når det viktige akademiske korpuset er samlet, må man finne rett metode for å identifisere det mest sentrale akademiske vokaularet, det vil si:
			
			<ul>
  <li>- utelukke  høyfrekvente ord som også finnes i ikke-akademiske tekster</li>
  <li>- utelukke  høyfrekvente ord som bare finnes i noen få av de faglige sjangrene </li>
</ul>
	Her finnes det flere metoder, beskrevet av Coxhead (2000), Carlund et al. (2012) og Gardner & Davies (2013), se referanselista nederst. I korte trekk går alle metodene ut på å finne fram til de mest høyfrekvente ordene i det akademiske korpuset, men samtidig passe på at ordene har en best mulig spredning mellom alle sjangrene og tekstene. Samtidig må man unngå de mest frekvente ordene, som jo er allmenne. Til dette brukes stopplister med allmenne høyfrekvente ord eller beregninger i et referansekorpus. På denne måten unngår man altså høyfrekvente ord som <i>eller</i>, <i>hun</i>, <i>daglig</i>, samt fagspesifikke ord som <i>fotosyntese</i>, <i>akkusativ</i>, <i>aorta</i>. 				
			</p>
			
			<h5>c) Evaluering</h5>

            <p>Vi eksperimenterte med flere metoder, og kom til at vi oppnådde best resultat ved å kombinere to lister utviklet med metoden til Gardner & Davies. </p>

            <p>Til å evaluere de forskjellige metodene og listene, regnet vi ut dekningsgraden i to ulike testkorpus. </p>

                <p>Vi sammenlignet også den endelige AKA-lista med en liste med 750 tilfeldig utvalgte allmennord. Allmennordslista hadde en dekningsgrad på hele 67.99 % i skjønnlitteraturdelen av <a href="http://www.hf.uio.no/iln/tjenester/kunnskap/samlinger/bokmal/veiledningkorpus/">Leksikografisk Bokmålskorpus</a> og bare 46.06 % i  <a href="http://kiap.uib.no/KIAPCorpus.htm">KIAP</a>, et lite korpus med akademiske tekster fra Universitetet i Bergen. Dekningsgraden for de 750 ordene i AKA-lista var bare 1,3 % i Leksikografisk Bokmålskorpus, men 8,1 % i KIAP.  Dette viser at AKA-lista nettopp er en akademisk liste og at metoden fungerte.</p>
				
      <p>Tallene våre stemmer med undersøkelser av Nation (2001) som skriver at engelsk akademisk tekst består av nesten 80 % allmenne, høyfrekvente ord, opptil 9 % akademiske ord og 5 % fagspesifikke ord.			</p>  
<br/>	  
				
				<h4>Nordisk samarbeid</h4>

            <p>I 2013 ble nettverket  <a href="http://www.hf.uio.no/iln/forskning/prosjekter/lunas/index.html">LUNAS – Language Use in Nordic Academic Settings</a> - dannet, og fikk da midler fra NORDPLUS Nordiske språkprogrammet for perioden 2013 tom 2017. <a href="http://cip.ku.dk/forskning/netvaerk/lunas/">Les mer om nettverket her.</a>  Deltakende institusjoner er:
			
			<ul type="disc">
  <li><a href="http://www.svenska.gu.se/">- Institut for Svenska Språket, Göteborg Universitet, Sverige</a></li>
  <li><a href="http://www.hf.uio.no/iln/om/organisasjon/tekstlab/">- Tekstlaboratoriet og Institutt for lingvistiske og       nordiske studier, Universitetet i Oslo, Norge</a></li>
  <li><a href="http://inss.ku.dk/">- Institut for Nordiske Studier og Sprogvidenskab, Københavns       Universitet, Danmark</a></li>
  <li><a href="http://engerom.ku.dk/">- Institut for Engelsk, Germansk og Romansk, Københavns Universitet,       Danmark</a></li>
  <li><a href="http://cip.ku.dk/">- Center for Internationalisering og Parallelsproglighed, Københavns       Universitet, Danmark</a></li>
  <li><a href="http://cst.ku.dk/">- Center for Sprogteknologi, Københavns Universitet, Danmark</a></li>
  <li><a href="http://www.dsn.dk/">- Dansk Sprognævn, Danmark</a></li>
</ul>

Den svenske delen av nettverket har også  publisert en svensk akademisk ordliste, <a href="http://spraakbanken.gu.se/ao/index.html">les mer her</a>.
</p>
			<br/>

<h4>Folk</h4>

<p>Utarbeidelsen av ordlista er fremkommet  gjennom den norske delen av LUNAS, ledet av professor <a href="http://www.hf.uio.no/multiling/personer/kjernegruppe/jannebj/index.html">Janne Bondi Johannessen </a> sammen med professor <a href="http://www.hf.uio.no/iln/personer/vit/fjeld/index.html">Ruth Vatvedt Fjeld</a>, senioringeniør <a href="http://www.hf.uio.no/iln/personer/adm/kristiha/index.html">Kristin Hagen</a> og vitenskapelig  assistent <a href="http://www.hf.uio.no/iln/?vrtx=person-view&uid=arashsa">Arash Saidi</a>. Dessuten: velvilje fra Universitetsbiblioteket ved  Universitetet i Oslo som har gitt oss tilgang til tekstene fra DUO. 			
</p>
<br/>
<h4>Finansiering  og videre arbeid</h4>

<p>Det har ikke vært noen fullfinansiering  av prosjektet. I hovedsak har ILN og Tekstlaboratoriet bekostet de ca fem  månedsverkene vi har brukt for å tilsette en vitenskapelig assistent. Resten er  egeninnsats. Vi tok derfor et valg om å fullføre én målform før vi tok fatt på  neste. Vi mener nå at det er viktig å få gjort et tilsvarende arbeid for  nynorsk, og håper å finne finansiering til dette innen kort tid. </p>

<p>Vi planlegger også å binde sammen den  norske og den svenske akademiske ordlista for bedre å kunne studere forskjeller  og likheter. En slik felles liste kan være nyttig for norske studenter i  Sverige og svenske studenter i Norge. Den danske delen av LUNAS arbeider for  tiden med å lage en dansk akademisk ordliste, og vi håper også å kunne  inkludere denne slik at resultatet blir en felles skandinavisk ordliste.</p>

<p>Til slutt vil vi forsøke å utarbeide  lister med akademiske fraser (to- og tre-ordsuttrykk) med liknende metoder som  den vi har brukt til å lage AKA-lista. Også dette arbeidet vil vi gjøre i samarbeid  med de andre deltakerne i LUNAS.			</p>
<br/>
<h4>Referanser</h4>
  <p>Carlund, Carina, Jansson, Håkan, Johansson Kokkinakis,  Sofie, Prentice, Julia &amp; Judy Ribeck (2012). An academic word list for  Swedish - a support for language learners in higher education In: <i>Proceedings of the SLTC 2012 workshop on NLP  for CALL</i>, Lund, 25th October, 2012.</p>
  <p>Coxhead, A. (2000): A new academic word list. I: <i>TESOL Quarterly</i>, 34:2, 213–238.</p>
  <p>Coxhead, A. (2011): The academic word list 10 years  on: Research and teaching implications. <i>TESOL  Quarterly</i>, 45:2, 355–362.</p>
  <p>Gardner, D. &amp; M. Davies (2013): A New Academic  Vocabulary List. In: <i>Applied Linguistics  4</i>.</p>
  <p>Nation, Ian SP. (2001) Learning vocabulary in another  language. Ernst Klett Sprachen.</p>


        </div>
    </div>
</template>