<template name="home">
    <head>
        <title>NBAO - Norsk Bokmål Akademisk Ordliste</title>
    </head>

    <body>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" property="">

    <nav>
        <div class="nav-wrapper #006064 cyan darken-4">
            <div class="container">
                <a href="/" id="list" class="brand-logo">
                    <i class="large material-icons">spellcheck</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/" id="list">Lista</a></li>
                    <li><a href="/academic">Er din tekst akademisk?</a></li>
                    <li><a href="/about">Om lista</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {{> yield}}

    </body>

</template>