<template name="list">

    <div class="container">
        <table class="bordered highlight my-table">
            <thead>
            <tr>
                <th data-field="nr"><h5><a href="#" id="nr">Nr</a></h5></th>
                <th data-field="word"><h5><a href="#" id="word">Ord</a></h5></th>
                <th data-field="tag"><h5>Ordklasse</h5></th>
                <th data-field="examples"><h5>Eksempler</h5></th>
            </tr>
            </thead>

            <tbody>
            {{#each words}}
                <tr>
                    <td>{{nr}}</td>
                    <td><a href="http://www.nob-ordbok.uio.no/perl/ordbok.cgi?OPP=+{{word}}
                &ant_bokmaal=5&ant_nynorsk=5&bokmaal=+&ordbok=bokmaal" target="_blank">{{word}}</a></td>
                    <td>{{tag}}</td>
                    <td><a href="#" id="example">klikk for eksempler</a></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s4">
                <a class="waves-effect waves-light btn" id="back">Tilbake</a>
                <a class="waves-effect waves-light btn" id="next">Neste</a>

                <div class="input-field">
                    <input id="search" type="text" class="validate" name="search">
                    <label for="search">Søk</label>
                </div>
            </div>
            <div class="col s8">
                <a class="waves-effect waves-light btn right left-margin" id="end">Slutt</a>
                <a class="waves-effect waves-light btn right" id="start">Start</a>
            </div>
        </div>
    </div>

</template>